{{> admin }}

<div class="flex-between mb-2">
  <h2>Programs</h2>
  <button type="button" class="btn btn-primary" onclick="refreshPrograms();">
    Refresh
  </button>
</div>
<p>
  All supported programs on the site can be modified from here. Altering a
  program's ID or deleting a program altogether is not advised, as doing so
  could cause some posts to display incorrectly. Once a program is associated
  with any posts, the program cannot be deleted.
</p>
<div id="programs">Fetching programs...</div>
