{{> admin }}

<div class="flex-between mb-2">
  <h2>Programs</h2>
  <button type="button" class="btn btn-primary" onclick="refreshPrograms();">
    Refresh
  </button>
</div>
<p>
  All supported programs on the site can be modified from here. Altering a
  program's ID or deleting a program altogether is not advised, as doing so
  could cause some posts to display incorrectly.
</p>
<div class="row" id="program-table-head">
  <div class="col-4 col-sm-3 col-md-2">Program ID</div>
  <div class="col">Program name</div>
</div>
<div id="programs">Fetching programs...</div>
