<link rel="stylesheet" type="text/css" href="/css/createPost.css" />
<script type="text/javascript" src="/js/createPost.js"></script>

<div class="div-center tablet-content">
  <div class="">
    <form method="POST" enctype="multipart/form-data">
      <div class="col">
        <h1 class="center">New Post</h1>

        {{#if error}}
        <div class="alert alert-danger" role="alert">{{error}}</div>
        {{/if}}

        <p class="text-h3">
          Fill out the form below to create a post. Your post will be made
          public once a site administrator has reviewed it.
        </p>

        <small>* = required</small>
      </div>

      <div class="row align-items-center mt-4">
        <!-- Location name -->
        <div class="col-6 col-sm-4 mb-3 form-group">
          <label for="location">Location Name *</label>
          {{#if form}}
          <input
            type="text"
            class="form-control clear-input"
            id="location"
            name="location"
            maxlength="255"
            value="{{form.location}}"
            required
          />
          {{else}}
          <input
            type="text"
            class="form-control clear-input"
            id="location"
            name="location"
            maxlength="255"
            required
          />
          {{/if}}
        </div>
        <!-- Location type -->
        <div class="col-6 col-sm-4 mb-3 form-group">
          <label for="locationType">Location Type *</label>
          <select
            class="form-control clear-select"
            id="locationType"
            name="locationType"
            required
          >
            <option value="">Select...</option>
            {{#each locationTypes}}
            <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
          </select>
          {{#if form}}
          <script type="text/javascript">
            document.getElementById("locationType").value =
              "{{form.locationType}}";
          </script>
          {{/if}}
        </div>
        <!-- Program -->
        <div class="col-12 col-sm-4 mb-3 form-group">
          <label for="program">Program *</label>
          <select
            class="form-control clear-select"
            id="program"
            name="program"
            required
          >
            <option value="">Select...</option>
            {{#each programs}}
            <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
          </select>
          {{#if form}}
          <script type="text/javascript">
            document.getElementById("program").value = "{{form.program}}";
          </script>
          {{/if}}
        </div>
      </div>

      <!-- Post content -->
      <div class="row align-items-center">
        <div class="col-12 mb-3 form-group">
          <label for="postContent">Description *</label>
          <textarea
            class="form-control clear-input"
            id="postContent"
            name="postContent"
            maxlength="750"
            rows="4"
            required
          >
{{#if form}}{{form.postContent}}{{/if}}</textarea
          >
        </div>
      </div>

      <!-- Three words -->
      <div class="col">
        <label>Three Word Description *</label>
      </div>
      <div class="row align-items-center">
        <div class="col-12 col-sm-4 mb-3 form-group">
          {{#if form}}
          <input
            type="text"
            class="form-control clear-input"
            id="wordOne"
            name="wordOne"
            maxlength="19"
            value="{{form.wordOne}}"
            required
          />
          {{else}}
          <input
            type="text"
            class="form-control clear-input"
            id="wordOne"
            name="wordOne"
            maxlength="19"
            required
          />
          {{/if}}
        </div>
        <div class="col-12 col-sm-4 mb-3 form-group">
          {{#if form}}
          <input
            type="text"
            class="form-control clear-input"
            id="wordTwo"
            name="wordTwo"
            maxlength="19"
            value="{{form.wordTwo}}"
            required
          />
          {{else}}
          <input
            type="text"
            class="form-control clear-input"
            id="wordTwo"
            name="wordTwo"
            maxlength="19"
            required
          />
          {{/if}}
        </div>
        <div class="col-12 col-sm-4 mb-3 form-group">
          {{#if form}}
          <input
            type="text"
            class="form-control clear-input"
            id="wordThree"
            name="wordThree"
            maxlength="19"
            value="{{form.wordThree}}"
            required
          />
          {{else}}
          <input
            type="text"
            class="form-control clear-input"
            id="wordThree"
            name="wordThree"
            maxlength="19"
            required
          />
          {{/if}}
        </div>
      </div>

      <!-- Address, phone number, website -->
      <div class="row align-items-center">
        <div class="col-12 mb-3 form-group">
          <label for="address">Address</label>
          {{#if form}}
          <input
            type="text"
            class="form-control clear-input"
            id="address"
            name="address"
            maxlength="255"
            value="{{form.address}}"
          />
          {{else}}
          <input
            type="text"
            class="form-control clear-input"
            id="address"
            name="address"
            maxlength="255"
          />
          {{/if}}
        </div>
        <div class="col-12 col-sm-4 mb-3 form-group">
          <label for="phone">Phone number</label>
          {{#if form}}
          <input
            type="text"
            class="form-control clear-input"
            id="phone"
            name="phone"
            maxlength="19"
            value="{{form.phone}}"
          />
          {{else}}
          <input
            type="text"
            class="form-control clear-input"
            id="phone"
            name="phone"
            maxlength="19"
          />
          {{/if}}
        </div>
        <div class="col-12 col-sm-8 mb-3 form-group">
          <label for="website">Website</label>
          {{#if form}}
          <input
            type="text"
            class="form-control clear-input"
            id="website"
            name="website"
            maxlength="255"
            value="{{form.website}}"
          />
          {{else}}
          <input
            type="text"
            class="form-control clear-input"
            id="website"
            name="website"
            maxlength="255"
          />
          {{/if}}
        </div>
      </div>

      <!-- Images -->
      <div class="row align-items-center">
        <div class="col-12 mb-4 form-group">
          <label for="imageDiv">Images (up to 20) *</label>
          <div class="custom-file" id="imageDiv">
            <input
              type="file"
              class="custom-file-input clear-input"
              id="images"
              name="images"
              accept=".jpg, .jpeg, .png"
              multiple
              required
            />
            <label class="custom-file-label" for="images">Choose files</label>
          </div>
        </div>
      </div>

      <!-- Rating -->
      <div class="align-items-center">
        {{#each ratingTypes}}
        <div class="row" id="ratings">
          <div class="col-4">
            {{ this.displayName }} {{#if this.required}} * {{/if}}
          </div>
          <div class="col rating" id="rating-{{ this.name }}">
            <span class="fa fa-star" id="rating-{{ this.name }}-1"></span
            ><span class="fa fa-star" id="rating-{{ this.name }}-2"></span
            ><span class="fa fa-star" id="rating-{{ this.name }}-3"></span
            ><span class="fa fa-star" id="rating-{{ this.name }}-4"></span
            ><span class="fa fa-star" id="rating-{{ this.name }}-5"></span>
          </div>
          <div class="col-auto">
            <button
              type="button"
              class="btn btn-secondary"
              onclick="clearRating('{{ this.name }}');"
            >
              Clear
            </button>
          </div>
          <div class="hidden">
            <input
              type="text"
              id="{{this.name}}Rating"
              name="{{this.name}}Rating"
              value="0"
            />
          </div>
        </div>
        {{/each}}
      </div>

      <!-- Post button -->
      <div class="col mt-3">
        <button type="submit" class="btn clear-button mb-3">Post</button>
      </div>
    </form>
  </div>
</div>

{{#if form}} {{#each form.ratings}}
<script type="text/javascript">
  $(`#{{this.name}}Rating`).val("{{this.value}}");
  showStars("{{this.name}}", "{{this.value}}", true);
</script>
{{/each}} {{/if}}
