<link rel="stylesheet" type="text/css" href="/css/index.css" />
<!-- Do we want this menu on every page? POST page? -->
<div class="menus"> <!--  row col-4 col-sm-12-->
  <button class="btn menu-button " type="button" >Accommodation</button>
  <button class="btn menu-button " type="button" >Restaurants</button>
  <button class="btn menu-button " type="button" >Attractions</button>
</div>
<div class="homepage">
  <h1>Luther Navigator</h1>
  <h3>Where will you go, Norse?</h3>
  <p>Use this app to find cool places around the globe. All locations are hand-picked by your fellow Luther students, faculty, staff, parents, and neighbors.</p>
</div>

