<link rel="stylesheet" type="text/css" href="/css/index.css" />
<div class="menus row">
  <a class="btn menu-button col-md-4 col-sm-12" href="/"> Accommodations </a>
  <a class="btn menu-button col-md-4 col-sm-12" href="/query">
    Restaurants
  </a>
  <a class="btn menu-button col-md-4 col-sm-12" href="/post/test">
    Attractions
  </a>
</div>

<div class="homepage">
  <div class="clear-card">
    <h1>Where do you want to go?</h1>
    <p>
      Find Luther's favorite places around the globe. All locations are
      hand-picked by your fellow Luther students, faculty, staff, parents, and
      neighbors.
    </p>
  </div>
  <div class="clear-card dev-fav">
    <h3>Filter by Popular Luther Programs</h3>
    <div class="fav-place clear-card col-12 col-sm-4">
      <a href="/" class="sample-3">Nottingham</a>
      <img src="/img/vienna.jpg" alt="Vienna" />
    </div>
    <div class="fav-place clear-card col-12 col-sm-4">
      <a href="/" class="sample-3">Malta</a>
      <img src="/img/vienna.jpg" alt="Vienna" />
    </div>
    <div class="fav-place clear-card col-12 col-sm-4">
      <a href="/" class="sample-3">Vienna</a>
      <img src="/img/vienna.jpg" alt="Vienna" />
    </div>
  </div>
  <div class="clear-card dev-fav">
    <h3>Developer Favorites</h3>
    <div class="fav-place clear-card col-12 col-sm-4">
      <a href="/" class="sample-3">Somewhere in Vienna</a>
      <img src="/img/vienna.jpg" alt="Vienna" />
    </div>
    <div class="fav-place clear-card col-12 col-sm-4">
      <a href="/" class="sample-3">Hai Di Lao</a>
      <img src="/img/vienna.jpg" alt="Vienna" />
    </div>
    <div class="fav-place clear-card col-12 col-sm-4">
      <a href="/" class="sample-3">Somewhere</a>
      <img src="/img/vienna.jpg" alt="Vienna" />
    </div>
  </div>
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id={{ googleAnalyticsID }}"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "{{ googleAnalyticsID }}");
</script>
