<link rel="stylesheet" type="text/css" href="/css/index.css" />
<!-- <div class="menus row">
  <a class="btn menu-button col-md-4 col-sm-12" href="/"> Accommodations </a>
  <a class="btn menu-button col-md-4 col-sm-12" href="/query">
    Restaurants
  </a>
  <a class="btn menu-button col-md-4 col-sm-12" href="/post/test">
    Attractions
  </a>
</div> -->
<div class="homepage">
  <div class="search-cover" id="cover">
    <form method="get" action="" class="search-bar-form">
      <div class="td">
        <input class="search-bar-input" type="text" placeholder="Search" required>
      </div>
      <div class="td" id="s-cover">
        <button type="submit" class="search-bar-button">
          <div id="s-circle"></div>
          <span></span>
        </button>
      </div>
    </form>
  </div>

  <div class="home-card mb-4">
    <h1>Where do you want to go?</h1>
    <p>
      Find Luther's favorite places around the globe. All locations are
      hand-picked by your fellow Luther students, faculty, staff, parents, and
      neighbors.
    </p>
  </div>
  <div class="home-card home-filter mb-4">
    <h3>Popular Luther Programs</h3>
    <div class="row">
      <div class="fav-place clear-card col-md-4 col-12">
        <a href="/search?program=nottingham" class="sample-3">Nottingham</a>
        <img src="/img/vienna.jpg" alt="Vienna" />
      </div>
      <div class="fav-place clear-card col-md-4 col-12">
        <a href="/search?program=malta" class="sample-3">Malta</a>
        <img src="/img/vienna.jpg" alt="Vienna" />
      </div>
      <div class="fav-place clear-card col-md-4 col-12">
        <a href="/search?program=music" class="sample-3">Vienna</a>
        <img src="/img/vienna.jpg" alt="Vienna" />
      </div>
    </div>
  </div>
  <div class="home-card home-filter mb-4">
    <h3>Developer Favorites</h3>
    <div class="row">
      <div class="fav-place clear-card col-md-4 col-12">
        <a href="/post/test" class="sample-3">Somewhere</a>
        <img src="/img/vienna.jpg" alt="Vienna" />
      </div>
      <div class="fav-place clear-card col-md-4 col-12">
        <a href="/post/test" class="sample-3">Hai Di Lao</a>
        <img src="/img/vienna.jpg" alt="Vienna" />
      </div>
      <div class="fav-place clear-card col-md-4 col-12">
        <a href="/post/test" class="sample-3">Somewhere</a>
        <img src="/img/vienna.jpg" alt="Vienna" />
      </div>
    </div>
  </div>
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id={{ googleAnalyticsID }}"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "{{ googleAnalyticsID }}");
</script>
