<div class="sm-width div-center">
  <div class="clear-card">
    <div class="col">
      <h1 class="center">Password Reset Request</h1>
    </div>

    {{#if error}}
    <div class="col">
      <div class="alert alert-danger" role="alert">{{error}}</div>
    </div>
    {{/if}}

    <div class="col">
      <p>
        To reset your password, please enter your email below. You will be sent
        an email containing a link which you will use to reset your password.
        The link will eventually expire.
      </p>
    </div>

    <form method="POST">
      <div class="row align-items-center mt-3 mb-3">
        <div class="col-12 form-group">
          <label for="email">Email address</label>
          <input
            type="email"
            class="form-control clear-input"
            id="email"
            name="email"
            maxlength="63"
            required
          />
        </div>
      </div>

      <div class="col">
        <button type="submit" class="btn clear-button mb-3">
          Request reset
        </button>
      </div>
    </form>
  </div>
</div>
