<div class="sm-width div-center">
  <div class="clear-card">
    <div class="col">
      <h1 class="center">Reset Password</h1>
    </div>

    {{#if error}}
    <div class="col">
      <div class="alert alert-danger" role="alert">{{error}}</div>
    </div>
    {{/if}} {{#if valid}}
    <div class="col">
      <p>
        Reset your password below. You will only be able to reset your password
        while this link is valid. Do not share this link with anyone.
      </p>
    </div>

    <form method="POST">
      <div class="row align-items-center mt-3 mb-3">
        <div class="col-12 col-sm-6 form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control clear-input"
            id="newPassword"
            name="newPassword"
            maxlength="255"
            required
          />
        </div>

        <div class="col-12 col-sm-6 form-group">
          <label for="confirmPassword">Confirm password</label>
          <input
            type="password"
            class="form-control clear-input"
            id="confirmNewPassword"
            name="confirmNewPassword"
            maxlength="255"
            required
          />
        </div>
      </div>

      <div class="col">
        <button type="submit" class="btn clear-button mb-3">
          Reset password
        </button>
      </div>
    </form>
    {{else}}
    <div class="col">
      <p>
        Invalid password reset request. This is likely because the link
        expired. Please
        <a href="/password-reset">request to reset your password again</a>,
        bearing in mind you have little time before the link in the email
        expires.
      </p>
    </div>
    {{/if}}
  </div>
</div>
