<link rel="stylesheet" type="text/css" href="/css/profile.css" />
<script type="text/javascript" src="/js/profile.js"></script>

<div class="container tablet-content">
  <div class="profile-page mt-5">
    <div class="profile-summary mb-5">
      <img
        class="image-circle mb-2"
        id="user-image"
        src="/image/user/{{userID}}"
        alt="User image"
      />
      <h2 class="centered mb-1">{{ firstname }} {{ lastname }}</h2>
      <h5 class="centered mb-1">{{ email }}</h5>
      <h6 class="centered mb-1">{{ numPosts }}</h6>
      <small class="centered"
        >Joined <span class="timestamp-date">{{ joinTime }}</span></small
      >
    </div>

    {{#if error}}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
    {{/if}}

    <div id="your-posts" class="mb-5">
      <div class="col mt-2 mb-2">
        <h4 class="posts">Your posts</h4>
        {{#if hasPosts}}
        <table class="table table-responsive-sm">
          <thead>
            <tr>
              <th scope="col">Location</th>
              <th scope="col">Program</th>
              <th scope="col">Description</th>
              <th scope="col">Approved</th>
            </tr>
          </thead>
          <tbody>
            {{#each posts}}
            <tr onclick="window.location.href = '/post/{{this.id}}';">
              <td>{{ this.location }}</td>
              <td>{{ this.program }}</td>
              <td>{{ this.threeWords }}</td>
              <td>
                {{#if this.approved}}
                <i class="fas fa-check"></i>
                {{/if}}
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        {{else}}
        <span>You have yet to create a post.</span>
        {{/if}}
      </div>
    </div>

    <div class="mb-5">
      <form method="POST" enctype="multipart/form-data">
        <div class="col mt-1">
          <h4>Set profile image</h4>
        </div>
        <div class="row">
          <div class="form-group col-12">
            <label for="imageDiv">Image</label>
            <div class="custom-file" id="imageDiv">
              <input
                type="file"
                class="custom-file-input clear-input"
                id="image"
                name="image"
                accept=".jpg, .jpeg, .png"
                required
              />
              <label class="custom-file-label" for="image">Choose file</label>
            </div>
          </div>
        </div>
        <div class="col">
          <button
            type="submit"
            class="btn clear-button mb-2"
            formaction="/profile/setImage"
          >
            Set image
          </button>
        </div>
      </form>
    </div>

    <div class="mb-5">
      <form method="POST">
        <div class="col mt-1">
          <h4>Change password</h4>
        </div>
        <div class="row">
          <div class="form-group col-12 col-md-4">
            <label for="currentPassword">Current password</label>
            <input
              type="password"
              class="form-control clear-input"
              id="currentPassword"
              name="currentPassword"
              maxlength="255"
              required
            />
          </div>
          <div class="form-group col-12 col-md-4">
            <label for="newPassword">New password</label>
            <input
              type="password"
              class="form-control clear-input"
              id="newPassword"
              name="newPassword"
              maxlength="255"
              required
            />
          </div>
          <div class="form-group col-12 col-md-4">
            <label for="confirmNewPassword">Confirm new password</label>
            <input
              type="password"
              class="form-control clear-input"
              id="confirmNewPassword"
              name="confirmNewPassword"
              maxlength="255"
              required
            />
          </div>
        </div>
        <div class="col">
          <button
            type="submit"
            class="btn clear-button mb-2"
            formaction="/profile/changePassword"
          >
            Change password
          </button>
        </div>
      </form>
    </div>

    <div class="clear-card mb-5">
      <form method="POST">
        <div class="col mt-1">
          <h3>Change status</h3>
        </div>
        <div class="col">
          Your current status is: <b><i>{{ userStatus }}</i></b
          >. You can request to change your status below.
        </div>
        <div class="row">
          <div class="form-group col-12">
            <label for="newUserStatus">New status</label>
            <select
              class="form-control clear-select"
              id="newUserStatus"
              name="newUserStatus"
              required
            >
              <option value="">Select...</option>
              {{#each userStatuses}}
              <option value="{{this.id}}">{{this.name}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="col">
          <button
            type="submit"
            class="btn clear-button mb-2"
            formaction="/profile/changeUserStatus"
          >
            Request status change
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
