<link rel="stylesheet" type="text/css" href="/css/query.css" />
<h1>Filter By</h1>
<hr />
<div class="filter-menu clearfix row">
  <h4>Filter by</h4>
  <h5>Categories</h5>
  <label class="">
    <input type="checkbox" />
    <span class="checkmark">Cafe & Bakery</span>
  </label>
  <label class="">
    <input type="checkbox" />
    <span class="checkmark">Bar & Pub</span>
  </label>
  <h5>Programs</h5>
  <label class="">
    <input type="checkbox" />
    <span class="checkmark">Nottingham</span>
  </label>
  <h5>Status</h5>
  <label class="">
    <input type="checkbox" />
    <span class="checkmark">Student</span>
  </label>
</div>
<div class="query-page">
  <div class="clearfix row">  
    <div class="fav-place clear-card col-12 col-md-3">
      <a href="/post/0000" class="sample-3">Somewhere in Vienna</a>
      <img src="/img/vienna.jpg" alt="Vienna" />
    </div>
    <div class="fav-place clear-card col-12 col-md-3">
      <a href="/post/0000" class="sample-3">Hai Di Lao</a>
      <img src="/img/vienna.jpg" alt="Vienna" />
    </div>
    <div class="fav-place clear-card col-12 col-md-3">
      <a href="/post/0000" class="sample-3">Somewhere</a>
      <img src="/img/vienna.jpg" alt="Vienna" />
    </div>
    <div class="fav-place clear-card col-12 col-md-3">
      <a href="/post/0000" class="sample-3">Somewhere</a>
      <img src="/img/vienna.jpg" alt="Vienna" />
    </div>
  </div>
  <div class="clearfix row">
    <div class="fav-place clear-card col-12 col-md-3">
      <a href="/post/0000" class="sample-3">Somewhere in Vienna</a>
      <img src="/img/vienna.jpg" alt="Vienna" />
    </div>
    <div class="fav-place clear-card col-12 col-md-3">
      <a href="/post/0000" class="sample-3">Hai Di Lao</a>
      <img src="/img/vienna.jpg" alt="Vienna" />
    </div>
    <div class="fav-place clear-card col-12 col-md-3">
      <a href="/post/0000" class="sample-3">Somewhere</a>
      <img src="/img/vienna.jpg" alt="Vienna" />
    </div>
    <div class="fav-place clear-card col-12 col-md-3">
      <a href="/post/0000" class="sample-3">Somewhere</a>
      <img src="/img/vienna.jpg" alt="Vienna" />
    </div>	 
  </div>
</div>

