<link rel="stylesheet" type="text/css" href="/css/query.css" />
<h1>Filter By</h1>
<hr />
<form> 
  <div class="filter-menu clearfix row">
    <div class="filter-category col-6 col-md-3">
      <h5>Categories</h5>
      <label class="checkbox-option">
        <input type="checkbox" value=""/>
        <span class="checkbox-words">Cafe & Bakery</span>
      </label>
      <label class="checkbox-option">
        <input type="checkbox" />
        <span class="checkbox-words">Bar & Pub</span>
      </label>
    </div>
    <div class="filter-category col-6 col-md-3">
      <h5>Programs</h5>
      <label class="checkbox-option">
        <input type="checkbox" />
        <span class="checkbox-words">Nottingham</span>
      </label>
    </div>
    <div class="filter-category col-6 col-md-3">
      <h5>Status</h5>
      <label class="checkbox-option">
        <input type="checkbox" />
        <span class="checkbox-words">Student</span>
      </label>
    </div>
    <div class="filter-category col-6 col-md-3">
      <h5>Rating</h5>
      <label class="checkbox-option">
        <input type="checkbox" />
        <span class="checkbox-words">5 Stars</span>
      </label>
    </div>
  </div>
</form>

<div class="query-page">
  <div class="row">
    <div class="fav-place clear-card col-12 col-md-6 col-lg-3">
      <img src="/img/vienna.jpg" alt="Vienna" />
      <a href="/post/0000" class="sample-3">Somewhere in Vienna</a>
    </div>
    <div class="fav-place clear-card col-12 col-md-6 col-lg-3">
      <img src="/img/vienna.jpg" alt="Vienna" />
      <a href="/post/0000" class="sample-3">Hai Di Lao</a>
    </div>
    <div class="fav-place clear-card col-12 col-md-6 col-lg-3">
      <img src="/img/vienna.jpg" alt="Vienna" />
      <a href="/post/0000" class="sample-3">Somewhere</a>
    </div>
    <div class="fav-place clear-card col-12 col-md-6 col-lg-3">
      <img src="/img/vienna.jpg" alt="Vienna" />
      <a href="/post/0000" class="sample-3">Somewhere</a>
    </div>	
    <div class="fav-place clear-card col-12 col-md-6 col-lg-3">
      <img src="/img/vienna.jpg" alt="Vienna" />
      <a href="/post/0000" class="sample-3">Somewhere</a>
    </div>
    <div class="fav-place clear-card col-12 col-md-6 col-lg-3">
      <img src="/img/vienna.jpg" alt="Vienna" />
      <a href="/post/0000" class="sample-3">Somewhere</a>
    </div> 
  </div>
</div>

