<link rel="stylesheet" type="text/css" href="/css/query.css" />
<div class="div-center tablet-content">
  <h1>Filter By</h1>
  <!-- <hr /> -->
  <form>
    <div class="filter-menu clearfix row">
      <div class="col-6 col-md-3">
        <h5>Categories</h5>
        <label class="checkbox-option">
          <input type="checkbox" value="" />
          <span class="checkbox-words">Cafe & Bakery</span>
        </label>
        <label class="checkbox-option">
          <input type="checkbox" />
          <span class="checkbox-words">Bar & Pub</span>
        </label>
      </div>
      <div class="col-6 col-md-3">
        <h5>Programs</h5>
        <label class="checkbox-option">
          <input type="checkbox" />
          <span class="checkbox-words">Nottingham</span>
        </label>
      </div>
      <div class="col-6 col-md-3">
        <h5>Status</h5>
        <label class="checkbox-option">
          <input type="checkbox" />
          <span class="checkbox-words">Student</span>
        </label>
      </div>
      <div class="col-6 col-md-3">
        <h5>Rating</h5>
        <label class="checkbox-option">
          <input type="checkbox" />
          <span class="checkbox-words">5 Stars</span>
        </label>
      </div>
    </div>
  </form>

  <div class="query-page">
    <div class="row">
      <a href="/post/0000" class="a-location col-12 col-sm-6 col-lg-4">
        <img src="/img/vienna.jpg" alt="Vienna" /><span>Somewhere</span>
      </a>
      <a href="/post/0000" class="a-location col-12 col-sm-6 col-lg-4">
        <img src="/img/vienna.jpg" alt="Vienna" /><span>Somewhere</span>
      </a>
      <a href="/post/0000" class="a-location col-12 col-sm-6 col-lg-4">
        <img src="/img/vienna.jpg" alt="Vienna" /><span>Somewhere in Vienna</span>
      </a>
      <a href="/post/0000" class="a-location col-12 col-sm-6 col-lg-4">
        <img src="/img/vienna.jpg" alt="Vienna" /><span>Hai Di Lao</span>
      </a>
      <a href="/post/0000" class="a-location col-12 col-sm-6 col-lg-4">
        <img src="/img/vienna.jpg" alt="Vienna" /><span>Hello Kitty World</span>
      </a>
      <a href="/post/0000" class="a-location col-12 col-sm-6 col-lg-4">
        <img src="/img/vienna.jpg" alt="Vienna" /><span>Somewhere</span>
      </a>
    </div>
  </div>
</div>