<div class="std-width div-center">
  <div class="clear-card">
    <form method="POST">
      <div class="col text-center">
        <h1>Register</h1>
        <p class="text-h3">
          Please fill out the form below. If you already have an account,
          please <a href="/login">log in here</a>.
        </p>
      </div>

      <!-- Input first name and last name -->
      <div class="row align-items-center mt-4">
        <div class="col-sm-6 col-12 mb-3 form-group">
          <label for="firstname">First name</label>
          <input
            type="text"
            class="form-control"
            id="firstname"
            name="firstname"
            required
          />
        </div>
        <div class="col-sm-6 col-12 mb-3 form-group">
          <label for="lastname">Last name</label>
          <input
            type="text"
            class="form-control"
            id="lastname"
            name="lastname"
            required
          />
        </div>
      </div>

      <!-- Input email-->
      <div class="row align-items-center">
        <div class="col-12 mb-3 form-group">
          <label for="email">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            required
          />
        </div>
      </div>

      <!-- Input and confirm password -->
      <div class="row align-items-center">
        <div class="col-sm-6 col-12 mb-3 form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
          />
        </div>
        <div class="col-sm-6 col-12 mb-3 form-group">
          <label for="confirmPassword">Confirm password</label>
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            required
          />
        </div>
      </div>

      <!-- Terms and Conditions -->
      <div class="row justify-content-start">
        <div class="col-12">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" required />
              I have read and accept
              <a href="https://www.luthernavigator.com/terms-and-conditions"
                >Terms and Conditions</a
              >
            </label>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary mt-3 mb-3">
            Register
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
