<link rel="stylesheet" type="text/css" href="/css/restaurant.css" />
<h1>Restaurants</h1>
<hr>
<div class="side-menu clear-card">
    <h4>Filter by</h4>
    <h5>Categories</h5>
    <label class="">
        <input type="checkbox">
        <span class="checkmark">Cafe & Bakery</span>
    </label>
    <label class="">
        <input type="checkbox">
        <span class="checkmark">Bar & Pub</span>
    </label>
    <h5>Programs</h5>
    <label class="">
        <input type="checkbox">
        <span class="checkmark">Nottingham</span>
    </label>
    <h5>Status</h5>
    <label class="">
        <input type="checkbox">
        <span class="checkmark">Student</span>
    </label>
</div>
<div class="restaurant-page">
    <div>
        <a href="/">One</a>
        <a href="/">Two</a>
    </div>
</div>