main {
  padding: 20px;
}

#admin-tabs {
  margin: 0 -20px;
  padding: 0 20px;
  margin-bottom: 20px;
}

#admin-tabs .nav-link {
  color: #007bff;
  font-size: 1rem;
}

#admin-tabs .nav-link.active {
  color: black;
}

h1 {
  font-size: 2.5rem;
}

.nowrap {
  white-space: nowrap;
}

.admin-notification {
  display: inline-block;
  min-width: 20px;
  padding: 0 6px;
  font-size: 12px;
  vertical-align: middle;
  line-height: 18px;
  text-align: center;
  background-color: #cfdfef;
  border-radius: 2em;
}

#program-table-head {
  font-weight: bold;
  font-style: italic;
}

#content {
  max-width: 9999px;
  padding: 16px 20px;
}
