main {
  text-align: center;
}

.login-page {
  display: inline-block;
}

form {
  text-align: left;
}

h1 {
  text-align: center;
}

#forgot {
  display: inline-block;
}

/*tablet 768px*/
@media screen and (min-width: 768px) {
  .login-page {
    margin: 0 auto;
    width: 500px;
  }
}
