body {
  font-family: "Comfortaa", "Roboto", sans-serif;
  margin: 0px;
  /* sticky footer */
  display: flex;
  flex-direction: column;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

html,
body {
  height: 100%;
  margin: 0;
}

h1 {
  font-size: 22pt;
}

p {
  text-align: justify;
}

a:hover {
  color: black;
}

.center {
  text-align: center;
}

.div-center {
  margin: auto;
}

.full-center {
  height: 100vh;
  line-height: 100vh;
  text-align: center;
}

.full-center > * {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

/* Error */
.err-info {
  padding: 16px 32px;
}

.err-info .err-header {
  font-size: 1.5rem;
  font-weight: 500;
}

.err-info code {
  color: red;
  font-weight: 600;
}

/* content same as main */
#content {
  display: block;
  margin: auto;
}

main {
  /* sticky footer */
  flex: 1 0 auto;
  max-width: 2000px;
  /* max-height: 1334px; */
  /* stationary background */
  display: block;
  position: relative;
}

main.bg-img::after {
  content: "";
  background-color: #A3C4DA; /*CEDFEA 6bbaef*/
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

header {
  background-color: #0061a3;
}

/* NAVBAR is header*/
.navbar-light .navbar-brand {
  color: white;
  padding: 0.5rem;
}

.nav-link {
  color: white;
  font-size: 1.25em;
}

.navbar-light .navbar-toggler {
  padding: 0px;
  font-size: 1em;
  border: 0px;
}

.nav-logo {
  width: 35px;
  height: 35px;
}

.toggle-menu-img {
  width: 1.5em;
  height: 1.5em;
}

.row {
  margin: 0;
}

.clear-card {
  background: none;
  backdrop-filter: opacity(0.7) blur(8px);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 1em;
}

.clear-input,
.clear-select {
  background: none;
  backdrop-filter: opacity(0.7) blur(8px);
  border: 1px solid #495057;
}

.clear-button {
  padding: 0.5rem 0.75rem;
  font-size: 1.25em;
  border: 1px solid #495057;
}

.clear-button:hover {
  color: #0061a3;
  border: 1px solid #0061a3;
}

/* FOOTER */
footer {
  clear: left;
  padding: 10px 10px;
  background-color: #0061a3;
  color: white;
  text-align: center;
  bottom: 0;
  /* sticky footer */
  flex-shrink: 0;
}

footer a {
  color: white;
}

table {
  width: 100%;
}

.std-width {
  max-width: 800px;
}

.sm-width {
  max-width: 600px;
}

.lg-width {
  max-width: 1000px;
}

.xl-width {
  max-width: 1200px;
}

.hidden {
  display: none;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

/*tablet 768px*/
@media screen and (min-width: 425px) {
  #content {
    max-width: 728px;
  }

  .mainbody {
    width: 725px;
  }

  .navbar-light .navbar-brand {
    font-size: 1.5em;
  }

  .toggle-menu-img {
    width: 2em;
    height: 2em;
  }

  footer {
    padding: 24px 10px;
  }
}

/*desktop*/
@media screen and (min-width: 1225px) {
  .mainbody {
    width: 865px;
    display: inline-table;
  }
}
