body {
  font-family: "Comfortaa", "Roboto", sans-serif;
  margin: 0px;
  /* sticky footer */
  display: flex;
  flex-direction: column;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

html,
body {
  height: 100%;
  margin: 0;
}

h1 {
  font-size: 24pt;
}

p {
  text-align: justify;
}

a:hover {
  color: black;
}

.center {
  text-align: center;
}

.div-center {
  margin: auto;
}

.full-center {
  height: 100vh;
  line-height: 100vh;
  text-align: center;
}

.full-center > * {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.background-blue {
  background-color: #0061a3;
}

.background-white {
  background-color: #ffffff;
}

table {
  width: 100%;
}

.std-width {
  max-width: 800px;
}

.sm-width {
  max-width: 600px;
}

.lg-width {
  max-width: 1000px;
}

.xl-width {
  max-width: 1200px;
}

.hidden {
  display: none !important;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

/* Error */
.err-info {
  padding: 16px 32px;
}

.err-info .err-header {
  font-size: 1.5rem;
  font-weight: 500;
}

.err-info code {
  color: red;
  font-weight: 600;
}

/* content same as main */
.tablet-content {
  display: block;
  margin: auto;
  padding: 16px;
}

main {
  /* sticky footer */
  flex: 1 0 auto;
  max-width: 2000px;
  /* stationary background */
  display: block;
  position: relative;
}

main.bg-img::after {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

header {
  background-color: #0061a3;
}

/* NAVBAR is header*/
.navbar-light .navbar-brand {
  color: white;
  padding: 0.5rem;
}

.nav-link {
  color: white;
  font-size: 1.25em;
}

.navbar-light .navbar-toggler {
  padding: 0px;
  font-size: 1em;
  border: 0px;
}

.nav-logo {
  width: 35px;
  height: 35px;
}

.err-logo {
  width: 45px;
  height: 45px;
}

/* spinning logos */
@keyframes spinning {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

.spin {
  animation-name: spinning;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.toggle-menu-img {
  width: 30px;
  height: 30px;
}

.row {
  margin: 0;
}

.clear-card {
  background: none;
  backdrop-filter: opacity(0.7) blur(8px);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 1em;
}

.clear-input,
.clear-select {
  background: none;
  backdrop-filter: opacity(0.7) blur(8px);
  border: 1px solid #495057;
}

.clear-button {
  padding: 0.5rem 0.75rem;
  font-size: 1.25em;
  border: 1px solid #495057;
}

.clear-button:hover {
  color: #0061a3;
  border: 1px solid #0061a3;
}

/* FOOTER */
footer {
  clear: left;
  padding: 10px 10px;
  background-color: #0061a3;
  color: white;
  text-align: center;
  bottom: 0;
  /* sticky footer */
  flex-shrink: 0;
}

footer a {
  color: white;
}

/* filtered post's div / index & query pages */
.a-location {
  padding: 5px 0px;
}

* > .a-location:hover > img {
  box-shadow: 0 0px 10px 1px #8a8a8b; /*, off-center, blur edges, radius*/
  opacity: 65%;
  transition: 0.2s;
}

.a-location > img {
  width: inherit;
  border-radius: 10px;
  opacity: 35%;
  transition: 0.2s;
}

/* link for the post */
.a-location > span {
  float: left;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #212529;
  text-align: center;
  font-size: 32px;
}

/* Search Bar / index & query pages */

.td {
  display: table-cell;
  vertical-align: middle;
}

.search-bar-input,
.search-bar-button {
  color: #0061a3;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

#cover {
  max-width: 480px;
  padding: 10px;
  margin: 0 auto;
  background-color: #d8e5ff;
  border-radius: 999px;
  /* box-shadow: 0 8px 15px 0 #8a8a8b, 0 0 0 0px #ffffff; , off-center, blur edges, radius */
  transform: scale(0.6);
}

.search-bar-form {
  height: 48px;
}

.search-bar-input[type="text"] {
  width: 100%;
  height: 48px;
  font-size: 22pt;
  margin-left: 10px;
  outline: none;
}

.search-bar-input[type="text"]::placeholder {
  color: #0061a3;
}

/* typing in the search bar */
.search-bar-input:focus::-webkit-input-placeholder {
  color: #66a0c7;
}

#s-cover {
  width: 1px;
  padding-left: 35px;
}

.search-bar-button {
  position: relative;
  display: block;
  width: 64px;
  height: 48px;
  cursor: pointer;
}

/* magnifying glass */
#s-circle {
  position: relative;
  top: -6px;
  left: 8px;
  width: 28px;
  height: 28px;
  margin-top: 0;
  border-width: 55px;
  border: 5px solid #0061a3;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.2s ease all;
}

/* magnifying glass stem */
.search-bar-button span {
  position: absolute;
  top: 34px;
  left: 27px;
  display: block;
  width: 20px;
  height: 5px;
  background-color: transparent;
  border-radius: 10px;
  transform: rotateZ(52deg);
  transition: 0.2s ease all;
}

/* magnifying glass stem movement */
.search-bar-button span:before,
.search-bar-button span:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 5px;
  background-color: #0061a3;
  border-radius: 10px;
  transform: rotateZ(0);
  transition: 0.2s ease all;
}

/* Arrow stem */
#s-cover:hover #s-circle {
  top: -1px;
  width: 45px;
  height: 5px;
  border-width: 0;
  background-color: #0061a3;
  border-radius: 20px;
}

#s-cover:hover span {
  top: 50%;
  left: 25px;
  width: 25px;
  margin-top: -3px;
  transform: rotateZ(0);
}

#s-cover:hover button span:before {
  bottom: 8px;
  transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
  bottom: -6px;
  transform: rotateZ(-52deg);
}

/* Arrow triangle */
#s-cover:hover button span:before,
#s-cover:hover button span:after {
  right: -6px;
  width: 20px;
  background-color: #0061a3;
}

/*tablet 768px*/
@media screen and (min-width: 425px) {
  .tablet-content {
    max-width: 728px;
  }

  .mainbody {
    width: 725px;
  }

  .navbar-light .navbar-brand {
    font-size: 1.5em;
  }

  .toggle-menu-img {
    width: 2em;
    height: 2em;
  }

  footer {
    padding: 24px 10px;
  }
}

/* a-location photos */
@media screen and (min-width: 576px) {
  .a-location {
    padding: 10px;
  }

  .a-location > span {
    font-size: 20px;
  }
}

/*desktop*/
@media screen and (min-width: 1225px) {
  .mainbody {
    width: 865px;
    display: inline-table;
  }

  .tablet-content {
    padding: 16px 0px;
  }
}
