h1 {
  font-size: 36pt;
}

h4 {
  font-size: medium;
}

.post-header h1,
.post-header h4,
.post-header th,
.post-header td {
  color: #ffffff;
}

.post-header h1 {
  padding-left: 15px;
}

.post-img {
  text-align: center;
  padding: 0px 10px;
}

.post-img div {
  height: 25vh;
  padding: 5px;
}

.post-img div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.fa.fa-star {
  font-size: 10px;
}

.checked {
  color: #e88900;
}

.location-info a {
  color:#ffffff;
  font-size: 11pt;
}

.dropdown {
  vertical-align: middle;
}

.delete-btn {
  border: 1px #bdbdbd solid;
}

.delete-post-img {
  width: 25px;
  height: 25px;
  transform: rotate(90deg);
}