h5 {
  margin-top: 10px;
}

.filter-menu {
  padding: 0px 10px;
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 10pt;
}

.sample-3 {
  display: block;
  color: #212529;
  text-align: center;
  padding: 2px;
}

.sample-3:hover {
  color: #0061a3;
  text-decoration: none;
}

.fav-place {
  display: inline-block;
  /* margin: 2px; */
}

img {
  width: inherit;
}

.query-page {
  display: block;
  padding: 15px 0px;
}

.checked {
  color: #e88900;
}

.fa.fa-star {
  font-size: 10px;
}

.search-bar-input {
  color: #0061a3;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

#cover {
  max-width: 600px;
  padding: 10px;
  margin: 0 auto;
  background-color: #d8e5ff; /*48ADF0*/
  border-radius: 999px;
  /* box-shadow: 0 10px 40px #0061a3, 0 0 0 20px #ffffff; */
  transform: scale(0.6);
}

.search-bar-div {
  height: 48px;
  padding-left: 10px;
  padding-right: 10px;
}

.search-bar-input[type="text"] {
  width: 100%;
  height: 48px;
  font-size: 22pt;
  outline: none;
}

.search-bar-input[type="text"]::placeholder {
  color: #0061a3;
}
