.filter-menu {
  border: 1px solid #6c7781;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.checkbox-option {
  display: block;
  font-size: 10pt;
}

/* filtered post's div */
.a-location {
  padding: 5px 0px;
}

* > .a-location:hover > img {
  box-shadow: 0 0px 10px 1px #8a8a8b; /*, off-center, blur edges, radius*/
  opacity: 65%;
}

.a-location > img {
  width: inherit;
  border-radius: 10px;
  opacity: 35%;
}

/* link for the post */
.a-location > span {
  float: left;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #212529;
  text-align: center;
  font-size: 32px;
}

@media screen and (min-width: 576px) {
  .a-location {
    padding: 10px;
  }

  .a-location > span {
    font-size: 20px;
  }
}