<link rel="stylesheet" type="text/css" href="/css/admin.css" />
<script type="text/javascript" src="/js/admin.js"></script>
<script type="text/javascript" src="/js/admin-{{page}}.js"></script>
<script type="text/javascript">
  window.addEventListener("load", () => {
    main();
    if ("{{page}}Load" in window) {
      window["{{page}}Load"]();
    }
  });
</script>
<div class="tablet-content">
  <h1 class="center">Admin Control Panel</h1>
  <ul class="nav nav-tabs" id="admin-tabs">
    {{#each pages}}
    <li class="nav-item">
      <a
        class="nav-link {{#is @key ../page }} active {{/is}}"
        href="/admin/{{@key}}"
        >{{this}}
        <span id="admin-{{@key}}-notification" class="admin-notification hidden"
          >0</span
        >
      </a>
    </li>
    {{/each}}
  </ul>
  <div class="alert alert-danger hidden" id="admin-error" role="alert"></div>
</div>